<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="/static/js/flex.js"></script>
    <title>大重庆</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
</head>
<body>
    <header>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <% for (var i = 0; i < 4; i++) { %>
                    <div class="swiper-slide"></div>
                <% } %>
            </div>
        </div>
        <section class="slider-bottom"></section>
    </header>
    <section class="hot-item-title-container">
        <h1 class="title">
            <p class="title-chinese">經典熱賣</p>
            <p class="title-english">HOT PRODUCTS</p>
        </h1>
        <section class="hot-item-box">
            <% for (var i = 0; i < 4; i++) { %>
            <div class="hot-item-el" style="margin-right: <%= i == 3 ? '0' : '' %>">
                <div class="hot-item-bg"></div>
                <h2 class="hot-item-title">
                    <p class="hot-item-title-chinese">
                        火鍋底料
                    </p>
                    <p class="hot-item-title-english">
                        HOTPOT CONDIMENT
                    </p>
                </h2>
            </div>
            <% } %>
        </section>
        <section class="container">
            <section class="hot-inf">
                <div class="hot-item-container row-container-left">
                    <div class="hot-item-container-prize">
                        <p class="hot-item-container-prize-name">底料</p>
                        <p class="hot-item-container-prize-content">
                            <span class="prize-icon">￥</span>
                            <span class="prize-text">8.8</span>
                        </p>
                    </div>
                    <div class="hot-item-container-img"></div>
                </div>
                <div class="hot-item-row-inf row-inf-righ">
                    <p class="hot-item-row-inf-p">
                        <span>火鍋</span>
                        <span class="chongqin">CHONGQIN</span>
                        <span>底料</span>
                    </p>
                    <img class="hot-item-row-inf-img" src="/static/imgs/lajiao.png" alt="">
                    <div class="user-section">
                        <p class="view-more">
                            <span>TO</span>
                            <span>VIEW MORE</span>
                            <span class="more-button">查看更多</span>
                        </p>
                        <img class="buy-car" src="/static/imgs/buy_car.png" alt="">
                    </div>
                    <p class="item-trd">
                        美味，源自对传统的敬畏。传统腊肠味，重庆告诉你... ...
                    </p>
                </div>
            </section>
            <section class="hot-inf hot-inf-ou" >
                <div class="hot-item-container row-container-right">
                    <div class="hot-item-container-prize">
                        <p class="hot-item-container-prize-name">底料</p>
                        <p class="hot-item-container-prize-content">
                            <span class="prize-icon">￥</span>
                            <span class="prize-text">8.8</span>
                        </p>
                    </div>
                    <div class="hot-item-container-img"></div>
                </div>
                <div class="hot-item-row-inf row-inf-left">
                    <p class="hot-item-row-inf-p">
                        <span>火鍋</span>
                        <span class="chongqin">CHONGQIN</span>
                        <span>底料</span>
                    </p>
                    <img class="hot-item-row-inf-img" src="/static/imgs/lajiao.png" alt="">
                    <div class="user-section">
                        <p class="view-more">
                            <span>TO</span>
                            <span>VIEW MORE</span>
                            <span class="more-button">查看更多</span>
                        </p>
                        <img class="buy-car" src="/static/imgs/buy_car.png" alt="">
                    </div>
                    <p class="item-trd">
                        美味，源自对传统的敬畏。传统腊肠味，重庆告诉你... ...
                    </p>
                </div>
            </section>
            <section class="hot-inf">
                <div class="hot-item-container row-container-left row-container-bottom">
                    <div class="hot-item-container-prize">
                        <p class="hot-item-container-prize-name">底料</p>
                        <p class="hot-item-container-prize-content">
                            <span class="prize-icon">￥</span>
                            <span class="prize-text">8.8</span>
                        </p>
                    </div>
                    <div class="hot-item-container-img"></div>
                </div>
                <div class="hot-item-row-inf row-inf-righ">
                    <p class="hot-item-row-inf-p">
                        <span>火鍋</span>
                        <span class="chongqin">CHONGQIN</span>
                        <span>底料</span>
                    </p>
                    <img class="hot-item-row-inf-img" src="/static/imgs/lajiao.png" alt="">
                    <div class="user-section">
                        <p class="view-more">
                            <span>TO</span>
                            <span>VIEW MORE</span>
                            <span class="more-button">查看更多</span>
                        </p>
                        <img class="buy-car" src="/static/imgs/buy_car.png" alt="">
                    </div>
                    <p class="item-trd">
                        美味，源自对传统的敬畏。传统腊肠味，重庆告诉你... ...
                    </p>
                </div>
            </section>
            <section class="hot-inf hot-inf-ou">
                <div class="hot-item-container row-container-right row-container-bottom">
                    <div class="hot-item-container-prize">
                        <p class="hot-item-container-prize-name">底料</p>
                        <p class="hot-item-container-prize-content">
                            <span class="prize-icon">￥</span>
                            <span class="prize-text">8.8</span>
                        </p>
                    </div>
                    <div class="hot-item-container-img"></div>
                </div>
                <div class="hot-item-row-inf row-inf-left">
                    <p class="hot-item-row-inf-p">
                        <span>火鍋</span>
                        <span class="chongqin">CHONGQIN</span>
                        <span>底料</span>
                    </p>
                    <img class="hot-item-row-inf-img" src="/static/imgs/lajiao.png" alt="">
                    <div class="user-section">
                        <p class="view-more">
                            <span>TO</span>
                            <span>VIEW MORE</span>
                            <span class="more-button">查看更多</span>
                        </p>
                        <img class="buy-car" src="/static/imgs/buy_car.png" alt="">
                    </div>
                    <p class="item-trd">
                        美味，源自对传统的敬畏。传统腊肠味，重庆告诉你... ...
                    </p>
                </div>
            </section>
            
        </section>
    </section>
    <script src="/static/js/zepto.min.js"></script>
    <script src="/static/js/swiper-3.3.1.jquery.min.js"></script>
    <script src="/static/js/index_index.js"></script>
</body>
</html>