<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="/static/js/flex.js"></script>
    <title>大重庆</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/index.css?time=<%= new Date().getTime() %>">
</head>
<body>
    <!-- <div class="add-to-car">
        <span class='car-num'>1</span>
    </div> -->
    <header>
        <section class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: url(/static/imgs/covers/21.jpg) no-repeat center center; background-color: #f0efef; background-size: contain;"></div>
                <div class="swiper-slide" style="background: url(/static/imgs/covers/22.jpg) no-repeat center center; background-color: #f0efef; background-size: contain;"></div>
                <div class="swiper-slide" style="background: url(/static/imgs/covers/23.jpg)  no-repeat center center; background-color: #f0efef; background-size: contain;"></div>
            </div>
        </section>
        <section class='banner-bottom'></section>
    </header>
    <section class='hot-item-inf'>
    <%data.goodsType.forEach(function(item, index){%>
        <%if(index%3 == 0){%>
        <div style="margin-left: 0;" class="hot-item-inf-item"><%=item.gt_name%></div>
        <%}else{%>
        <div class="hot-item-inf-item"><%=item.gt_name%></div>
        <%}%>
    <%})%>
    </section>
    <section class='line'></section>
    <section class='item-outer'>
        <section class='item-title'>
            <p class='item-title-container'>最热商品</p>
        </section>
        <section class='item-container'>
            <div class="item-el">
                <a href="/home/detail/index?item_id=<%= data.hotGoods[0].goodsId%>">
                    <div class="item-image" style="background:url(/static/imgs/covers/<%= data.hotGoods[0].cover%>) no-repeat center center; background-color: #f0efef; background-size:contain">
                    </div>
                </a>
                <div class="item-inf">
                    <%= data.hotGoods[0].descript%>
                </div>
                <div class="buy-item">
                    <div class="item-price">
                    <span class='item-price-icon'>￥</span>
                    <span class='item-price-content'><%= data.hotGoods[0].prize%></span>
                    <img class='buy-button' src='/static/imgs/buy_car_b.png' data-itemId="<%= data.hotGoods[0].goodsId%>">
                    </div>
                </div>
            </div>
            <div class="item-el">
                <a href="/home/detail/index?item_id=<%= data.hotGoods[1].goodsId%>">
                    <div class="item-image" style="background:url(/static/imgs/covers/<%= data.hotGoods[1].cover%>) no-repeat center center; background-color: #f0efef; background-size:contain">
                    </div>
                </a>
                <div class="item-inf">
                    <%= data.hotGoods[1].descript%>
                </div>
                <div class="buy-item">
                    <div class="item-price">
                    <span class='item-price-icon'>￥</span>
                    <span class='item-price-content'><%= data.hotGoods[1].prize%></span>
                    <img class='buy-button' src='/static/imgs/buy_car_b.png' data-itemId="<%= data.hotGoods[1].goodsId%>">
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class='item-outer'>
        <section class='item-title'>
            <p class='item-title-container'>最新商品</p>
        </section>
        <section class='item-container'>
            <div class="item-el">
                <a href="/home/detail/index?item_id=<%= data.newGoods[0].goodsId%>">
                    <div class="item-image" style="background:url(/static/imgs/covers/<%= data.newGoods[0].cover%>) no-repeat center center; background-color: #f0efef; background-size:contain">
                    </div>
                </a>
                <div class="item-inf">
                    <%= data.newGoods[0].descript%>
                </div>
                <div class="buy-item">
                    <div class="item-price">
                    <span class='item-price-icon'>￥</span>
                    <span class='item-price-content'><%= data.newGoods[0].prize%></span>
                    <img class='buy-button' src='/static/imgs/buy_car_b.png' data-itemId="<%= data.newGoods[0].goodsId%>">
                    </div>
                </div>
            </div>
            <div class="item-el">
                <a href="/home/detail/index?item_id=<%= data.newGoods[1].goodsId%>">
                    <div class="item-image" style="background:url(/static/imgs/covers/<%= data.newGoods[1].cover%>) no-repeat center center; background-color: #f0efef; background-size:contain">
                    </div>
                </a>
                <div class="item-inf">
                    <%= data.newGoods[1].descript%>
                </div>
                <div class="buy-item">
                    <div class="item-price">
                    <span class='item-price-icon'>￥</span>
                    <span class='item-price-content'><%= data.newGoods[1].prize%></span>
                    <img class='buy-button' src='/static/imgs/buy_car_b.png' data-itemId="<%= data.newGoods[1].goodsId%>">
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class='item-outer' id='all-item-outer'>
        <section class='item-title'>
            <p class='item-title-container'>全部商品</p>
        </section>
        <section class='item-container'>
        </section>
    </section>
    <section class='loading'>
        <img class='loading-icon' src="/static/imgs/loading.png">
        <span class="loading-msg">正在加载内容...</span>
    </section>
    <script src='/static/js/zepto.min.js'></script>
    <script src='/static/js/swiper-3.3.1.jquery.min.js'></script>
    <script src='/static/js/index_index.js?timer=<%= new Date().getTime()%>'+></script>
    <script>
        ;(function () {
            var list = $('.swiper-slide');
            list.each(function(index, item){
                $(item).css('left', index * 100 + '%');
                alert(item.style.left)
            });
        }());
    </script>
</body>
</html>