body {
  margin: 0;
  padding: 0;
  height: 0;
  background: #fefdfb;
  color: #44393f;
}
p,
h1,
h2 {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
header {
  width: 10rem;
}
.swiper-container {
  width: 100%;
  height: 3.84375rem;
  position: relative;
  overflow: hidden;
}
.swiper-container .swiper-wrapper {
  width: 100%;
  height: 3.84375rem;
}
.swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 3.84375rem;
  background: url("../imgs/banner.png");
  background-size: cover;
  position: absolute;
  z-index: 1;
}
.slider-bottom {
  width: 10rem;
  height: 0.140625rem;
  margin: 0.140625rem 0 0.375rem 0;
}
.slider-bottom .swiper-pagination-bullet {
  width: 0.125rem;
  height: 0.125rem;
  border: 1px solid #458865;
  border-radius: 100%;
  float: left;
  margin-right: 0.171875rem;
}
.slider-bottom .swiper-pagination-bullet-active {
  background: #458865;
}
.hot-item-title-container .title {
  width: 8.75rem;
  padding-bottom: 0.15625rem;
  margin: 0 auto;
  border-bottom: 2px solid #ececec;
  text-align: center;
  font-size: 0.59375rem;
}
.hot-item-title-container .title .title-english {
  margin-top: 0.09375rem;
  font-size: 0.25rem;
}
.hot-item-title-container .hot-item-box {
  width: 9.0625rem;
  margin: 0.46875rem auto;
  overflow: hidden;
}
.hot-item-title-container .hot-item-box .hot-item-el {
  width: 1.953125rem;
  margin-right: 0.375rem;
  float: left;
}
.hot-item-title-container .hot-item-box .hot-item-el .hot-item-bg {
  width: 1.953125rem;
  height: 1.953125rem;
  border-radius: 100%;
  overflow: hidden;
  background: #ececec url("../imgs/hotbowl.png") -0.234375rem bottom no-repeat;
  background-size: 2.421875rem 1.5625rem;
}
.hot-item-title-container .hot-item-box .hot-item-el .hot-item-title {
  text-align: center;
  font-size: 0.3125rem;
  font-weight: normal;
  margin-top: 0.15625rem;
}
.hot-item-title-container .hot-item-box .hot-item-el .hot-item-title-english {
  margin-top: 0.09375rem;
  font-size: 0.1875rem;
}
.container {
  width: 10rem;
  margin-top: 0.625rem;
}
.container .hot-inf {
  width: 10rem;
  margin-bottom: 0.3125rem;
  overflow: hidden;
}
.container .hot-inf-ou {
  background: #f0eef0;
}
.container .row-container-left {
  float: left !important;
  margin: 0 0.09375rem 0 0.40625rem !important;
}
.container .row-inf-right {
  float: left !important;
}
.container .row-container-right {
  float: right !important;
  margin: 0.59375rem 0.40625rem 0 0 !important;
}
.container .row-container-bottom {
  margin-top: 0.5625rem !important;
}
.container .row-inf-left {
  float: left !important;
  margin-left: 0.40625rem;
}
.container .hot-item-container {
  width: 5.65625rem;
  background: #dadada;
  padding: 0.359375rem 0.359375rem;
  position: relative;
  float: left;
}
.container .hot-item-container .hot-item-container-img {
  width: 5.65625rem;
  height: 5.03125rem;
  background: url("../imgs/hotbowl_bottom.png");
  background-size: cover;
}
.container .hot-item-container .hot-item-container-prize {
  width: 0.65625rem;
  position: absolute;
  left: 0.5rem;
  top: 0.21875rem;
  color: #ffffff;
}
.container .hot-item-container .hot-item-container-prize-name {
  width: 100%;
  height: 1.0625rem;
  background: #458865;
  text-align: center;
  font-size: 0.34375rem;
  line-height: 0.46875rem;
  padding-top: 0.125rem;
}
.container .hot-item-container .hot-item-container-prize-content {
  width: 100%;
  height: 0.53125rem;
  background: #b9d2c5;
  text-align: center;
  position: relative;
}
.container .hot-item-container .prize-icon {
  position: absolute;
  left: 4px;
  top: 4px;
  font-size: 0.28125rem;
}
.container .hot-item-container .prize-text {
  line-height: 0.625rem;
  font-size: 0.21875rem;
  margin-left: 0.15625rem;
}
.container .hot-item-row-inf {
  width: 2.5rem;
  height: 6.09375rem;
  border: 0.125rem solid #beb8bd;
  float: left;
  background: url("../imgs/inf_bg.png") no-repeat center 0.65625rem;
  background-size: 1.609375rem 1.59375rem;
}
.container .hot-item-row-inf-p {
  width: 0.71875rem;
  font-size: 0.46875rem;
  margin: 0.1875rem auto;
  text-align: center;
}
.container .hot-item-row-inf-p > span {
  display: inline-block;
}
.container .hot-item-row-inf-p > .chongqin {
  width: 1.40625rem;
  font-size: 0.1875rem;
  position: relative;
  left: -0.40625rem;
  top: -0.03125rem;
  color: #a29a9e;
  margin-bottom: 0.125rem;
  margin-left: -0.703125rem;
  margin: 0.09375rem;
}
.container .hot-item-row-inf-img {
  width: 2.703125rem;
  height: 1.984375rem;
}
.container .user-section::after {
  content: "";
  display: block;
  clear: both;
}
.container .view-more {
  width: 1.15625rem;
  color: #beb8bd;
  font-size: 0.1875rem;
  margin-left: 0.15625rem;
  line-height: 0.25rem;
  border-bottom: 2px solid #beb8bd;
  float: left;
  position: relative;
}
.container .more-button {
  position: absolute;
  color: #458865;
  margin: 0.03125rem 0 0 0.15625rem;
}
.container .view-more > span {
  display: block;
}
.container .buy-car {
  width: 0.625rem;
  height: 0.578125rem;
  margin: 0.09375rem 0.15625rem 0 0;
  float: right;
}
.container .item-trd {
  padding: 0 0.15625rem;
  margin-top: 0.15625rem;
  font-size: 0.15625rem;
  color: #beb8bd;
}
