body {
  background: #ececec;
}
#top {
  height: 1.40625rem;
  text-align: center;
  line-height: 1.40625rem;
  font-size: 0.546875rem;
  background: #ba804a;
  color: #fff;
  position: relative;
}
#top .choose-all {
  position: absolute;
  left: 0.390625rem;
  color: #fff;
  font-size: 0.46875rem;
}
#top .delete-item {
  position: absolute;
  right: 0.390625rem;
  color: #fff;
  font-size: 0.46875rem;
}
#top .arrow-down {
  display: inline-block;
  width: 0.234375rem;
  height: 0.234375rem;
  margin-left: 0.078125rem;
  border-right: 0.03125rem solid #fff;
  border-bottom: 0.03125rem solid #fff;
  position: relative;
  top: -0.15625rem;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
.order-con {
  box-sizing: border-box;
  height: 4.84375rem;
  margin-top: 0.3125rem;
  padding: 0.3125rem 0.3125rem 0.46875rem;
  background: #fff;
}
.order-con .img-con {
  display: inline-block;
  width: 2.90625rem;
  height: 2.90625rem;
  background: #321321;
  background-size: cover;
}
.order-con .info-con {
  width: 5.703125rem;
  height: 2.90625rem;
  float: right;
  position: relative;
  overflow: hidden;
}
.order-con .info-con p {
  font-size: 0.4375rem;
  color: #333;
  overflow: hidden;
}
.order-con .info-con p span {
  position: static;
  color: #ba804a;
  font-size: 0.4375rem;
}
.order-con .info-con span {
  font-size: 0.3125rem;
  position: absolute;
  bottom: 0;
}
.order-con .info-con .num {
  color: #999;
}
.order-con .info-con .money {
  color: #333;
  right: 0;
}
.order-con .line {
  margin: 0.234375rem 0;
  border-bottom: 1px solid #ccc;
}
.order-con .button-con {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  height: 1.296875rem;
}
.order-con .button-con button {
  width: 2.28125rem;
  height: 0.8125rem;
  border: 2px solid #ccac86;
  margin-left: 7.03125rem;
  border-radius: 5px;
  font-size: 0.390625rem;
  color: #ccac86;
}
.order-con .button-con .mid {
  margin: 0 0.625rem;
}
.yaerma {
  height: 3.59375rem;
}
.yaerma .yaerma2 {
  width: 50%;
}
.yaerma .choose {
  display: inline-block;
  width: 0.46875rem;
  height: 0.46875rem;
  border-radius: 30px;
  border: 2px solid #cc9933;
  float: left;
  margin: 1.09375rem 0.390625rem 1.25rem 0.078125rem;
}
.yaerma .choose .choose-inner {
  width: 0.40625rem;
  height: 0.40625rem;
  border-radius: 0.40625rem;
  margin: 0.03125rem;
}
.yaerma .choose .choosed {
  background: #cc9933;
}
#shadow {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  position: fixed;
  z-index: 1;
  color: red;
  display: none;
}
#bottom {
  height: 6.609375rem;
  position: fixed;
  width: 100%;
  background: #fff;
  display: none;
  bottom: 0px;
  padding: 0.546875rem;
  box-sizing: border-box;
  z-index: 2;
}
#bottom p {
  font-size: 0.46875rem;
  line-height: 0.703125rem;
}
#bottom .kouwei-con {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0.515625rem 0;
}
#bottom .kouwei-con button {
  display: inline-block;
  width: 2.34375rem;
  height: 0.859375rem;
  border: 1px solid #cc9933;
  border-radius: 5px;
  font-size: 0.4375rem;
  color: #cc9933;
  line-height: 0.859375rem;
}
#bottom .num {
  float: left;
  font-size: 0.375rem;
  color: #999;
  line-height: 0.9375rem;
}
#bottom .num-con {
  display: inline-block;
  width: 2.671875rem;
  height: 0.90625rem;
  float: right;
}
#bottom .num-con div {
  overflow: hidden;
  text-align: center;
  display: inline-block;
  width: 0.859375rem;
  height: 100%;
  line-height: 0.90625rem;
  font-size: 0.34375rem;
  background: #f8f8f8;
  border-radius: 5px;
}
#bottom .num-con .no-border {
  border: 1px solid #fff;
  background: #ccc;
}
#bottom .confirm {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.40625rem;
  font-size: 0.59375rem;
  line-height: 1.40625rem;
  text-align: center;
  margin-left: -0.546875rem;
  color: #fff;
  background: #cc9933;
}
.wx-pay {
  display: block;
  width: 10rem;
  height: 1.40625rem;
  line-height: 1.40625rem;
  text-align: center;
  background: #ba804a;
  color: #fff;
  position: fixed;
  bottom: 0px;
  text-decoration: none;
  font-size: 18px;
}
.top-hidden {
  width: 10rem;
  height: 20rem;
  position: fixed;
  top: 1.40625rem;
  display: none;
  background: rgba(255, 255, 255, 0.9);
  z-index: 100;
}
.top-hidden a {
  display: block;
  padding-left: 0.5rem;
  width: 9.5rem;
  color: #c3976a;
  height: 1.40625rem;
  line-height: 1.40625rem;
  font-size: 0.446875rem;
}
[data-dpr="2"] .wx-pay {
  font-size: 36px;
}
[data-dpr="3"] .wx-pay {
  font-size: 54px;
}
