<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/static/styles/bootstrap.min.css">
  <style>
    .table td{
      vertical-align: middle;
      float: none;
    }
    .border{
      border: 1px solid #ccc;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h3 class="text-center">
        带上重庆后台管理
      </h3>
      <ul class="nav nav-tabs top-bar">
        <li class="active">
          <a href="#">货物分类</a>
        </li>
        <li>
          <a href="#">麻花</a>
        </li>
        <li>
          <a href="#">肉食</a>
        </li>
        <li>
          <a href="#">呃呃呃</a>
        </li>
        <li>
          <a href="#" class="hehe">添加货物</a>
        </li>
      </ul>
      <form style="display: none; text-align:center">
        <fieldset>
          <legend>表单项</legend>
          <label>货物名称</label>
          <input type="text" id="goodsname"/>
          <label>货物详情</label>
          <input type="text" id="gooddetail"/>
          <label class="checkbox">
          <div class="detail">
          <div class="border">
            <form class="form-horizontal">
              <div class="control-group">
              <label class="control-label" for="inputEmail">口味</label>
              <div class="controls">
              <input id="inputEmail" type="text" />
              </div>
              </div>
              <div class="control-group">
              <label class="control-label" for="inputEmail">价格</label>
              <div class="controls">
              <input id="inputEmail" type="text" />
              </div>
              </div>
              <div class="control-group">
              <label class="control-label" for="inputEmail">包装</label>
              <div class="controls">
              <input id="inputEmail" type="text" />
              </div>
              </div>
              <div class="control-group">
              <label class="control-label" for="inputEmail">内涵成分</label>
              <div class="controls">
              <input id="inputEmail" type="text" />
              </div>
              </div>
              <div class="control-group">
              <label class="control-label" for="inputEmail">描述</label>
              <div class="controls">
              <input id="inputEmail" type="text" />
              </div>
              </div>
              <div class="control-group">
              <label class="control-label" for="inputEmail">存货</label>
              <div class="controls">
              <input id="inputEmail" type="text" />
              </div>
              </div>
            </form>
          </div>
          </div>
          <button class="btn btn-success" id="add">添加口味</button>
          <button type="submit" class="btn" id="submit">提交</button>
        </fieldset>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th>
              姓名
            </th>
            <th>
              口味
            </th>
            <th>
              数量
            </th>
            <th>
              状态
            </th>
            <th>
              地址
            </th> 
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              1
            </td>
            <td>
              TB - Monthly
            </td>
            <td>
              01/04/2012
            </td>
            <td class="dropdown pull-right">
             <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">设置已付款</a>
              </li>
              <li>
                <a href="#">设置未付款</a>
              </li>
              <li>
                <a href="#">设置已收货</a>
              </li>
          </td>
            <td>
              Default
            </td>
            <td>
              <button class="btn btn-info  ">删除</button>
            </td>

          </tr>
          <tr class="success">
            <td>
              1
            </td>
            <td>
              TB - Monthly
            </td>
            <td>
              01/04/2012
            </td>
            <td class="dropdown pull-right">
             <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">设置已付款</a>
              </li>
              <li>
                <a href="#">设置未付款</a>
              </li>
              <li>
                <a href="#">设置已收货</a>
              </li>
          </td>
            <td>
              Default
            </td>
             <td>
              <button class="btn btn-info  ">删除</button>
            </td>
          </tr>
          <tr class="error">
           <td>
              1
            </td>
            <td>
              TB - Monthly
            </td>
            <td>
              01/04/2012
            </td>
            <td class="dropdown pull-right">
             <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">设置已付款</a>
              </li>
              <li>
                <a href="#">设置未付款</a>
              </li>
              <li>
                <a href="#">设置已收货</a>
              </li>
          </td>
            <td>
              Default
            </td>
             <td>
              <button class="btn btn-info  ">删除</button>
            </td>
          </tr>
          <tr class="warning">
            <td>
              1
            </td>
            <td>
              TB - Monthly
            </td>
            <td>
              01/04/2012
            </td>
            <td class="dropdown pull-right">
             <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">设置已付款</a>
              </li>
              <li>
                <a href="#">设置未付款</a>
              </li>
              <li>
                <a href="#">设置已收货</a>
              </li>
          </td>
            <td>
              Default
            </td>
             <td>
              <button class="btn btn-info  ">删除</button>
            </td>
          </tr>
          <tr class="info">
            <td>
              1
            </td>
            <td>
              TB - Monthly
            </td>
            <td>
              01/04/2012
            </td>
            <td class="dropdown pull-right">
             <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">设置已付款</a>
              </li>
              <li>
                <a href="#">设置未付款</a>
              </li>
              <li>
                <a href="#">设置已收货</a>
              </li>
          </td>
            <td>
              Default
            </td>
             <td>
              <button class="btn btn-info  ">删除</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="/static/js/jquery-3.1.0.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script>
!function(){
  $('.hehe').on('click', function(){
    $('table').css({display: 'none'});
    $('form').css({display: 'block'});
  })
  $('#add').on('click', function(e){
    $(
              '<div class="detail">'+
              '<div class="border">'+
              '<div class="control-group">'+
              '<label class="control-label" for="taste">口味</label>'+
              '<div class="controls">'+
              '<input id="taste" type="text" />'+
              '</div>'+
              '</div>'+
              '<div class="control-group">'+
              '<label class="control-label" for="prize">价格</label>'+
              '<div class="controls">'+
              '<input id="prize" type="text" />'+
              '</div>'+
              '</div>'+
              '<div class="control-group">'+
              '<label class="control-label" for="box">包装</label>'+
              '<div class="controls">'+
              '<input id="box" type="text" />'+
              '</div>'+
              '</div>'+
              '<div class="control-group">'+
              '<label class="control-label" for="components">内涵成分</label>'+
              '<div class="controls">'+
              '<input id="conponents" type="text" />'+
              '</div>'+
              '</div>'+
              '<div class="control-group">'+
              '<label class="control-label" for="descript">描述</label>'+
              '<div class="controls">'+
              '<input id="discript" type="text" />'+
              '</div>'+
              '</div>'+
              '<div class="control-group">'+
              '<label class="control-label" for="stock">存货</label>'+
              '<div class="controls">'+
              '<input id="stock" type="text" />'+
              '</div>'+
              '</div>'+
              '</div>'+
              '</div>'
    ).appendTo($('.detail')[0])
  })
}()
  !function(){
    $('#submit').on('click',function(){
      var data = {};
      data.goodsName = $('#goodsname').val();
      data.goodDetail = $('#gooddetail').val();
      $('.detail').map(function(item, i){
        data[i].taste = $(item).children('#taste');
        data[i].prize = $(item).children('#prize');
        data[i].box = $(item).children('#box');
        data[i].components = $(item).children('#components');
        data[i].descript = $(item).children('#descript');
        data[i].stock = $(item).children('#stock');
      })
      console.log(data);
    })
  }()
</script>
</body>
</html>