body {
  margin: 0;
  padding: 0;
}
body {
  background: #ececec;
}
section {
  width: 10rem;
  border-top: 1px solid #d6d6d6;
  font-size: 16px;
  margin-top: 0.296875rem;
}
.form div {
  padding: 0 0.3125rem;
  width: 100%;
  color: #333333;
  background: #fff;
  border-bottom: 1px solid #d6d6d6;
  overflow: hidden;
}
input {
  width: 7.1875rem;
  line-height: 70%;
  outline: none;
  margin-left: 0.15625rem;
  border: none;
  font-size: 16px;
  color: #333333;
}
textarea {
  margin-left: 0.15625rem;
  min-height: 1.15625rem;
  width: 85%;
  border: none;
  outline: none;
  float: left;
  margin-top: 0.4375rem;
}
.user-name,
.user-callnumber {
  height: 1.390625rem;
  line-height: 1.390625rem;
}
.user-adress {
  height: 2.015625rem;
  line-height: 1.390625rem;
}
.add {
  display: block;
  width: 10rem;
  text-decoration: none;
  height: 1.40625rem;
  line-height: 1.40625rem;
  color: #ffffff;
  font-size: 18px;
  background: #ba804a;
  text-align: center;
  position: fixed;
  bottom: 0;
}
[data-dpr="2"] section {
  font-size: 32px;
}
[data-dpr="3"] section {
  font-size: 48px;
}
[data-dpr="2"] input {
  font-size: 32px;
}
[data-dpr="3"] input {
  font-size: 48px;
}
[data-dpr="2"] textarea {
  font-size: 32px;
}
[data-dpr="3"] textarea {
  font-size: 48px;
}
[data-dpr="2"] .add {
  font-size: 36px;
}
[data-dpr="3"] .add {
  font-size: 54px;
}
