<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><title>订单列表</title><link rel="stylesheet" href="/static/styles/glob.css"><link rel="stylesheet" href="/static/styles/orderList.css?time=<%= new Date().getTime() %>"><script src="/static/js/flex.js"></script></head><body><div id="top"><span class="already-pay">已付款</span> <span class="arrow-down"></span></div><div class="top-hidden"><a href="/home/order/list">已付款</a> <a href="/home/order/dish">购物车</a></div> <% orderInf.forEach(function (item, index) { %> <div class="order-con" data-order-id="<%= item.id %>"><div class="img-con" style="background-size: cover;
            background-image: url(/static/imgs/covers/<%= item.gooddetail.cover[0].url %>)"></div><div class="info-con"><p><%= item.gooddetail.del_descript %><br><span>(<%= item.gooddetail.del_taste %>)</span></p><span class="num">单价 ¥<%= item.gooddetail.del_prize %> 数量 <%= item.od_num %></span><span class="money">合计 ¥<%= item.gooddetail.del_prize * item.od_num %></span></div><div class="line"></div><div class="button-con"><!--  <button>退货退款</button>
            <button class="mid" >查看物流</button>--> <%if(item.od_state == 1){%> <button class="confirm-item" order-id="<%=item.id%>">确认收货</button> <%}else{%> <button class="confirm-item">已收货</button> <%}%> </div></div> <% }) %> <script src="/static/js/zepto.min.js"></script><script>(function () {
            var flag = true;
            $('.already-pay').on('click', function () {

                $('.top-hidden').css('display', flag ? 'block' : 'none');
                flag = !flag;

            })

        }());
        (function () {
            $('.confirm-item').on('click', function(e){
                var id = $(e.target).attr('item-id');
                if(id){
                    $.ajax({
                      type: 'GET',
                      url: 'http://www.hangeer1996.com/home/order/confirm?id='+id,
                      timeout: 300,
                      success: function(data){
                         $(e.target).innerHTML = '已收货';
                        alert('确认收货成功')
                      },
                      error: function(xhr, type){
                        alert('好像出了点问题-_-||')
                      }
                    })
                }
            })
        }());</script></body></html>